# Server Configuration
PORT=3000
HOST=0.0.0.0

# happyDeliver Configuration
HAPPYDELIVER_DOMAIN=localhost
HAPPYDELIVER_RECEIVER_HOSTNAME=localhost
HAPPYDELIVER_TEST_PREFIX=test-
HAPPYDELIVER_DISABLE_TEST_LIST=false
